body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#library {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    text-align: left;
    width: 600px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#library thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

#library th,
#library td {
    padding: 12px 15px;
}

#library tbody tr {
    border-bottom: 1px solid #dddddd;
}

#library tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#library tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

#show-dialog-button {
    background-color: #009879;
    color: #f3f3f3;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

#show-dialog-button:hover {
    cursor: pointer;
    transform: scale(1.2);
}

#show-dialog-button:active {
    transform: scale(1.1);
}